<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!--http://blog.csdn.net/janice0529/article/details/41583587-->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--application 节点 metadata 测试-->
        <meta-data
            android:name="application_meta"
            android:value="来自application_meta" />
        <!--一般的值可以通过value属性来指定，但是如果要指定一个资源的id,则需要使用resource属性来配置-->
        <meta-data
            android:name="application_meta_res"
            android:resource="@array/meta_array" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="activity_meta"
                android:value="来自activity_meta" />
        </activity>


    </application>

</manifest>