<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liuzhouliang.demo3">

    <application
        android:name="com.example.liuzhouliang.demo8.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<meta-data-->
        <!--android:name="UMENG_CHANNEL"-->
        <!--android:value="${UMENG_CHANNEL_VALUE}" />-->


        <meta-data

            android:name="test_array"
            android:resource="@array/test1" />
        <meta-data
            android:name="testmeta"
            android:value="meta" />


        <activity android:name="com.example.liuzhouliang.demo8.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>